<a href="https://colab.research.google.com/github/JaiFer32/Alcoholic-Beverage-PF-DA/blob/main/DataSet_TipoDato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Proceso ETL de tablas principales para la base de datos Alcoholic Beverage

In [ ]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/BegInv_mod.csv')

# Verificar y convertir los tipos de datos
df['InventoryId'] = df['InventoryId'].astype(str)
df['Store'] = df['Store'].astype(str)
df['City'] = df['City'].astype(str)
df['Brand'] = df['Brand'].astype(str)
df['Description'] = df['Description'].astype(str)
df['Size'] = df['Size'].astype(str)
df['onHand'] = pd.to_numeric(df['onHand'], errors='coerce', downcast='integer')
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['startDate'] = pd.to_datetime(df['startDate'], errors='coerce')

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/DataSetSQL_TipoDatoMod/BegInv_mod1.csv', index=False)

# Mostrar los primeros registros para verificar
print(df.head())

         InventoryId Store          City Brand                  Description  \
0  1_HARDERSFIELD_58     1  HARDERSFIELD    58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60     1  HARDERSFIELD    60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62     1  HARDERSFIELD    62     Herradura Silver Tequila
3  1_HARDERSFIELD_63     1  HARDERSFIELD    63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72     1  HARDERSFIELD    72         No. 3 London Dry Gin

    Size  onHand  Price  startDate
0  750mL       8  12.99 2016-01-01
1  750mL       7  10.99 2016-01-01
2  750mL       6  36.99 2016-01-01
3  750mL       3  38.99 2016-01-01
4  750mL       6  34.99 2016-01-01

In [ ]:
import pandas as pd

# Lee el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/DataSetSQL_TipoDatoMod/BegInv_mod1.csv')

# Obtén los tipos de datos de cada columna
data_types = df.dtypes

# Imprime los tipos de datos
print(data_types)

InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
startDate       object
dtype: object

In [ ]:
# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/EndInv_mod.csv')

# Verificar y convertir los tipos de datos
df['InventoryId'] = df['InventoryId'].astype(str)
df['Store'] = df['Store'].astype(str)
df['City'] = df['City'].astype(str)
df['Brand'] = df['Brand'].astype(str)
df['Description'] = df['Description'].astype(str)
df['Size'] = df['Size'].astype(str)
df['onHand'] = pd.to_numeric(df['onHand'], errors='coerce', downcast='integer')
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['endDate'] = pd.to_datetime(df['endDate'], errors='coerce')

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/DataSetSQL_TipoDatoMod/EndInv_mod1.csv', index=False)

# Mostrar los primeros registros para verificar
print(df.head())

         InventoryId Store          City Brand                  Description  \
0  1_HARDERSFIELD_58     1  HARDERSFIELD    58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_62     1  HARDERSFIELD    62     Herradura Silver Tequila
2  1_HARDERSFIELD_63     1  HARDERSFIELD    63   Herradura Reposado Tequila
3  1_HARDERSFIELD_72     1  HARDERSFIELD    72         No. 3 London Dry Gin
4  1_HARDERSFIELD_75     1  HARDERSFIELD    75    Three Olives Tomato Vodka

    Size  onHand  Price    endDate
0  750mL      11  12.99 2016-12-31
1  750mL       7  36.99 2016-12-31
2  750mL       7  38.99 2016-12-31
3  750mL       4  34.99 2016-12-31
4  750mL       7  14.99 2016-12-31

In [ ]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/PurchasePriceDec2017_mod.csv')

# Verificar y convertir los tipos de datos
df['VendorNumber'] = df['VendorNumber'].astype(str)
df['VendorName'] = df['VendorName'].astype(str)
df['Brand'] = df['Brand'].astype(str)
df['Description'] = df['Description'].astype(str)
df['Size'] = df['Size'].astype(str)
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')
df['Classification'] = df['Classification'].astype(str)
df['PurchasePrice'] = pd.to_numeric(df['PurchasePrice'], errors='coerce')

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/DataSetSQL_TipoDatoMod/PurchasePriceDec2017_mod1.csv', index=False)

# Mostrar los primeros registros para verificar
print(df.head())

  Brand                  Description  Price   Size  Volume Classification  \
0    58  Gekkeikan Black & Gold Sake  12.99  750mL   750.0              1
1    62     Herradura Silver Tequila  36.99  750mL   750.0              1
2    63   Herradura Reposado Tequila  38.99  750mL   750.0              1
3    72         No. 3 London Dry Gin  34.99  750mL   750.0              1
4    75    Three Olives Tomato Vodka  14.99  750mL   750.0              1

   PurchasePrice VendorNumber                   VendorName
0           9.28         8320  SHAW ROSS INT L IMP LTD
1          28.67         1128  BROWN-FORMAN CORP
2          30.46         1128  BROWN-FORMAN CORP
3          26.11         9165  ULTRA BEVERAGE COMPANY LLP
4          10.94         7245  PROXIMO SPIRITS INC.

In [ ]:
# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/InvoicePurchase_mod.csv')

# Verificar y convertir los tipos de datos
df['VendorNumber'] = df['VendorNumber'].astype(str)
df['VendorName'] = df['VendorName'].astype(str)
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df['PONumber'] = df['PONumber'].astype(str)
df['PODate'] = pd.to_datetime(df['PODate'], errors='coerce')
df['PayDate'] = pd.to_datetime(df['PayDate'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce', downcast='integer')
df['Dollars'] = pd.to_numeric(df['Dollars'], errors='coerce')
df['Freight'] = pd.to_numeric(df['Freight'], errors='coerce')
df['Approval'] = df['Approval'].astype(str)

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/DataSetSQL_TipoDatoMod/InvoicePurchase_mod1.csv', index=False)

# Mostrar los primeros registros para verificar
print(df.head())

  VendorNumber                   VendorName InvoiceDate PONumber     PODate  \
0          105  ALTAMAR BRANDS LLC           2016-01-04     8124 2015-12-21
1         4466  AMERICAN VINTAGE BEVERAGE    2016-01-07     8137 2015-12-22
2          388  ATLANTIC IMPORTING COMPANY   2016-01-09     8169 2015-12-24
3          480  BACARDI USA INC              2016-01-12     8106 2015-12-20
4          516  BANFI PRODUCTS CORP          2016-01-07     8170 2015-12-24

     PayDate  Quantity    Dollars  Freight Approval
0 2016-02-16         6     214.26     3.47      nan
1 2016-02-21        15     140.55     8.57      nan
2 2016-02-16         5     106.60     4.61      nan
3 2016-02-05     10100  137483.78  2935.20      nan
4 2016-02-12      1935   15527.25   429.20      nan

In [ ]:
# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/PurchaseFinal_mod.csv')

# Verificar y convertir los tipos de datos
df['InventoryId'] = df['InventoryId'].astype(str)
df['Store'] = df['Store'].astype(str)
df['Brand'] = df['Brand'].astype(str)
df['Description'] = df['Description'].astype(str)
df['Size'] = df['Size'].astype(str)
df['VendorNumber'] = df['VendorNumber'].astype(str)
df['VendorName'] = df['VendorName'].astype(str)
df['PONumber'] = df['PONumber'].astype(str)
df['PODate'] = pd.to_datetime(df['PODate'], errors='coerce')
df['ReceivingDate'] = pd.to_datetime(df['ReceivingDate'], errors='coerce')
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df['PayDate'] = pd.to_datetime(df['PayDate'], errors='coerce')
df['PurchasePrice'] = pd.to_numeric(df['PurchasePrice'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce', downcast='integer')
df['Dollars'] = pd.to_numeric(df['Dollars'], errors='coerce')
df['Classification'] = df['Classification'].astype(str)

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/DataSetSQL_TipoDatoMod/PurchaseFinal_mod1.csv', index=False)

# Mostrar los primeros registros para verificar
print(df.head())

           InventoryId Store Brand                   Description   Size  \
0    69_MOUNTMEND_8412    69  8412     Tequila Ocho Plata Fresno  750mL
1     30_CULCHETH_5255    30  5255  TGI Fridays Ultimte Mudslide  1.75L
2    34_PITMERDEN_5215    34  5215  TGI Fridays Long Island Iced  1.75L
3  1_HARDERSFIELD_5255     1  5255  TGI Fridays Ultimte Mudslide  1.75L
4    76_DONCASTER_2034    76  2034     Glendalough Double Barrel  750mL

  VendorNumber                   VendorName PONumber     PODate ReceivingDate  \
0          105  ALTAMAR BRANDS LLC              8124 2015-12-21    2016-01-02
1         4466  AMERICAN VINTAGE BEVERAGE       8137 2015-12-22    2016-01-01
2         4466  AMERICAN VINTAGE BEVERAGE       8137 2015-12-22    2016-01-02
3         4466  AMERICAN VINTAGE BEVERAGE       8137 2015-12-22    2016-01-01
4          388  ATLANTIC IMPORTING COMPANY      8169 2015-12-24    2016-01-02

  InvoiceDate    PayDate  PurchasePrice  Quantity  Dollars Classification
0  2016-01-04 2016-02-16          35.71         6   214.26              1
1  2016-01-07 2016-02-21           9.35         4    37.40              1
2  2016-01-07 2016-02-21           9.41         5    47.05              1
3  2016-01-07 2016-02-21           9.35         6    56.10              1
4  2016-01-09 2016-02-16          21.32         5   106.60              1

In [ ]:
# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/SalesFinal_mod.csv')

# Verificar y convertir los tipos de datos
df['InventoryId'] = df['InventoryId'].astype(str)
df['Store'] = df['Store'].astype(str)
df['Brand'] = df['Brand'].astype(str)
df['Description'] = df['Description'].astype(str)
df['Size'] = df['Size'].astype(str)
df['SalesQuantity'] = pd.to_numeric(df['SalesQuantity'], errors='coerce', downcast='integer')
df['SalesDollars'] = pd.to_numeric(df['SalesDollars'], errors='coerce')
df['SalesPrice'] = pd.to_numeric(df['SalesPrice'], errors='coerce')
df['SalesDate'] = pd.to_datetime(df['SalesDate'], errors='coerce')
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')
df['Classification'] = df['Classification'].astype(str)
df['ExciseTax'] = pd.to_numeric(df['ExciseTax'], errors='coerce')
df['VendorNo'] = df['VendorNo'].astype(str)
df['VendorName'] = df['VendorName'].astype(str)

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/DataSetSQL_TipoDatoMod/SalesFinal_mod1.csv', index=False)

# Mostrar los primeros registros para verificar
print(df.head())

           InventoryId Store Brand                 Description        Size  \
0  1_HARDERSFIELD_1004     1  1004  Jim Beam w/2 Rocks Glasses       750mL
1  1_HARDERSFIELD_1004     1  1004  Jim Beam w/2 Rocks Glasses       750mL
2  1_HARDERSFIELD_1004     1  1004  Jim Beam w/2 Rocks Glasses       750mL
3  1_HARDERSFIELD_1004     1  1004  Jim Beam w/2 Rocks Glasses       750mL
4  1_HARDERSFIELD_1005     1  1005     Maker's Mark Combo Pack  375mL 2 Pk

   SalesQuantity  SalesDollars  SalesPrice  SalesDate  Volume Classification  \
0              1         16.49       16.49 2016-01-01     750              1
1              2         32.98       16.49 2016-01-02     750              1
2              1         16.49       16.49 2016-01-03     750              1
3              1         14.49       14.49 2016-01-08     750              1
4              2         69.98       34.99 2016-01-09     375              1

   ExciseTax VendorNo                   VendorName
0       0.79    12546  JIM BEAM BRANDS COMPANY
1       1.57    12546  JIM BEAM BRANDS COMPANY
2       0.79    12546  JIM BEAM BRANDS COMPANY
3       0.79    12546  JIM BEAM BRANDS COMPANY
4       0.79    12546  JIM BEAM BRANDS COMPANY

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

# Lista de archivos CSV
files = [
    'big_inventory_modified.csv',
    'end_inventory_modified.csv',
    'invoice_purchases_modified.csv',
    'purchase_prices_2017_modified.csv',
    'purchases_final_modified.csv',
    'sales_final_modified.csv'
]

# Ruta del directorio donde se encuentran los archivos
directory = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/'

# Iterar sobre cada archivo y obtener los tipos de datos
for file in files:
    # Cargar el archivo CSV
    df = pd.read_csv(directory + file)

    # Mostrar el nombre del archivo y los tipos de datos
    print(f'Tipos de datos para {file}:')
    print(df.dtypes)
    print('\n')  # Línea en blanco para mejor legibilidad

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Tipos de datos para big_inventory_modified.csv:
InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
startDate       object
dtype: object


Tipos de datos para end_inventory_modified.csv:
InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
endDate         object
dtype: object


Tipos de datos para invoice_purchases_modified.csv:
VendorNumber      int64
VendorName       object
InvoiceDate      object
PONumber          int64
PODate           object
PayDate          object
Quantity          int64
Dollars         float64
Freight         float64
Approval         object
dtype: object


Tipos de datos para purchase_prices_2017_modified.csv:
Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
dtype: object


Tipos de datos para purchases_final_modified.csv:
InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification      int64
dtype: object


Tipos de datos para sales_final_modified.csv:
InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
SalesQuantity       int64
SalesDollars      float64
SalesPrice        float64
SalesDate          object
Volume              int64
Classification      int64
ExciseTax         float64
VendorNo            int64
VendorName         object
dtype: object

In [ ]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified.csv')

# Convertir la columna de fecha al formato adecuado
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%Y-%m-%d').dt.strftime('%Y-%m-%d')

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified.csv', index=False)

In [ ]:
import pandas as pd

# Lee el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified.csv')

# Explorar la tabla
print(df.head()) # Muestra las primeras 5 filas
print(df.info()) # Muestra información general de la tabla, incluyendo tipos de datos

# Explorar el tipo de dato de la columna 'InvoiceDate'
print(df['InvoiceDate'].dtype) # Imprime el tipo de dato de la columna
print(df['InvoiceDate'].describe()) # Muestra estadísticas descriptivas de la columna de fecha (si aplica)

# Verificar valores únicos y su frecuencia en la columna 'InvoiceDate'
print(df['InvoiceDate'].value_counts())

   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight Approval
0  2015-12-21  2016-02-16         6     214.26     3.47      NaN
1  2015-12-22  2016-02-21        15     140.55     8.57      NaN
2  2015-12-24  2016-02-16         5     106.60     4.61      NaN
3  2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4  2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB
None
object
count           5543
unique           373
top       2016-07-04
freq              43
Name: InvoiceDate, dtype: object
InvoiceDate
2016-07-04    43
2016-07-11    35
2017-01-03    33
2016-08-08    32
2016-07-12    31
              ..
2016-06-25     4
2016-11-16     4
2016-06-02     4
2016-08-10     4
2016-04-27     4
Name: count, Length: 373, dtype: int64

In [ ]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv')

# Limpiar la columna PONumber
# Convertir a numérico, forzando errores a NaN y luego rellenar con un valor por defecto (por ejemplo, 0)
df['PONumber'] = pd.to_numeric(df['PONumber'], errors='coerce').fillna(0).astype(int)

# Guardar el DataFrame modificado en una nueva carpeta
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified.csv', index=False)

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Explorar la tabla
print(f'Dimensiones de la tabla: {df.shape}')  # Muestra el número de filas y columnas
print('\nPrimeras 5 filas:')
print(df.head())  # Muestra las primeras 5 filas
print('\nInformación general:')
print(df.info())  # Muestra información general, incluyendo tipos de datos y valores no nulos

Dimensiones de la tabla: (5543, 10)

Primeras 5 filas:
   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight Approval
0  2015-12-21  2016-02-16         6     214.26     3.47      NaN
1  2015-12-22  2016-02-21        15     140.55     8.57      NaN
2  2015-12-24  2016-02-16         5     106.60     4.61      NaN
3  2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4  2015-12-24  2016-02-12      1935   15527.25   429.20      NaN

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB
None

In [ ]:
import pandas as pd
import os

# Ruta del directorio donde se encuentran los archivos
directory = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/'

# Obtener la lista de archivos en el directorio
files = [f for f in os.listdir(directory) if f.endswith('.csv')]

# Iterar sobre cada archivo y contar las filas
for file in files:
    file_path = os.path.join(directory, file)
    df = pd.read_csv(file_path)
    num_rows = len(df)
    print(f'El archivo {file} tiene {num_rows} filas.')

El archivo sales_final_modified.csv tiene 1048575 filas.
El archivo purchases_final_modified.csv tiene 2372474 filas.
El archivo purchase_prices_2017_modified.csv tiene 12261 filas.
El archivo invoice_purchases_modified.csv tiene 5543 filas.
El archivo end_inventory_modified.csv tiene 224489 filas.
El archivo big_inventory_modified.csv tiene 206529 filas.

In [ ]:
import pandas as pd

# Ruta del archivo original y el archivo limpio
csv_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'
clean_csv_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified_clean.csv'

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(csv_path)

# Validar y limpiar las columnas según la estructura de la tabla
df['InventoryId'] = df['InventoryId'].astype(str).str.slice(0, 255)
df['Store'] = pd.to_numeric(df['Store'], errors='coerce', downcast='integer').fillna(0).astype(int)
df['Brand'] = pd.to_numeric(df['Brand'], errors='coerce', downcast='integer').fillna(0).astype(int)
df['Description'] = df['Description'].astype(str).str.slice(0, 255)
df['Size'] = df['Size'].astype(str).str.slice(0, 50)
df['VendorNumber'] = pd.to_numeric(df['VendorNumber'], errors='coerce', downcast='integer').fillna(0).astype(int)
df['VendorName'] = df['VendorName'].astype(str).str.slice(0, 255)
df['PONumber'] = df['PONumber'].astype(str).str.slice(0, 100)
df['PODate'] = pd.to_datetime(df['PODate'], errors='coerce')
df['ReceivingDate'] = pd.to_datetime(df['ReceivingDate'], errors='coerce')
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df['PayDate'] = pd.to_datetime(df['PayDate'], errors='coerce')
df['PurchasePrice'] = pd.to_numeric(df['PurchasePrice'], errors='coerce').fillna(0)
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce', downcast='integer').fillna(0).astype(int)
df['Dollars'] = pd.to_numeric(df['Dollars'], errors='coerce').fillna(0)
df['Classification'] = pd.to_numeric(df['Classification'], errors='coerce', downcast='integer').fillna(0).astype(int)

# Reemplazar valores nulos en columnas obligatorias
df.fillna({
    'PODate': '1900-01-01',
    'ReceivingDate': '1900-01-01',
    'InvoiceDate': '1900-01-01',
    'PayDate': '1900-01-01'
}, inplace=True)

# Guardar el archivo limpio
df.to_csv(clean_csv_path, index=False)

print(f"Archivo limpio guardado en: {clean_csv_path}")

Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified_clean.csv

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'  # Ajusta la ruta si es necesario

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Explorar la tabla
print(f'Dimensiones de la tabla: {df.shape}')  # Muestra el número de filas y columnas
print('\nPrimeras 5 filas:')
print(df.head())  # Muestra las primeras 5 filas
print('\nInformación general:')
print(df.info())  # Muestra información general, incluyendo tipos de datos y valores no nulos

Dimensiones de la tabla: (2372474, 16)

Primeras 5 filas:
           InventoryId  Store  Brand                   Description   Size  \
0    69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno  750mL
1     30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
2    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
3  1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
4    76_DONCASTER_2034     76   2034     Glendalough Double Barrel  750mL

   VendorNumber                   VendorName  PONumber      PODate  \
0           105  ALTAMAR BRANDS LLC               8124  2015-12-21
1          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
2          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
3          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
4           388  ATLANTIC IMPORTING COMPANY       8169  2015-12-24

  ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0    2016-01-02  2016-01-04  2016-02-16          35.71         6   214.26
1    2016-01-01  2016-01-07  2016-02-21           9.35         4    37.40
2    2016-01-02  2016-01-07  2016-02-21           9.41         5    47.05
3    2016-01-01  2016-01-07  2016-02-21           9.35         6    56.10
4    2016-01-02  2016-01-09  2016-02-16          21.32         5   106.60

   Classification
0               1
1               1
2               1
3               1
4               1

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB
None

In [ ]:
import pandas as pd

# Ruta del archivo limpio existente
csv_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified_clean.csv'

# Cargar el archivo para revisión
df = pd.read_csv(csv_path)

# Validar que los datos de Classification sean enteros
df['Classification'] = pd.to_numeric(df['Classification'], errors='coerce').fillna(0).astype(int)

# Confirmar que no hay celdas vacías
df.fillna('', inplace=True)

# Guardar el archivo con delimitadores correctos y sin valores erróneos
clean_csv_path_final = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified_clean_final.csv'
df.to_csv(clean_csv_path_final, index=False, sep=',', encoding='utf-8')

print(f"Archivo limpio guardado en: {clean_csv_path_final}")

Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified_clean_final.csv

In [ ]:
import pandas as pd

# Cargar el archivo CSV
csv_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified_clean_final.csv'
df = pd.read_csv(csv_path)

# Definir las longitudes máximas permitidas para cada columna
max_lengths = {
    'InventoryId': 255,
    'Description': 255,
    'Size': 50,
    'VendorName': 255,
    'PONumber': 100
}

# Validar que las columnas sean strings antes de aplicar .str.len()
for col, max_len in max_lengths.items():
    # Convertir a string si no lo es
    df[col] = df[col].astype(str)
    # Filtrar filas que cumplen con la longitud máxima
    df = df[df[col].str.len() <= max_len]

# Guardar el archivo limpio
clean_csv_path_final = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified_clean_final.csv'
df.to_csv(clean_csv_path_final, index=False, sep=',', encoding='utf-8')

print(f"Archivo limpio guardado en: {clean_csv_path_final}")

Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL2/purchases_final_modified_clean_final.csv

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'  # Ajusta la ruta si es necesario

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Acceder a la fila 1 utilizando iloc (basado en índice)
fila_1 = df.iloc[0]

# Imprimir la fila 1
print(fila_1)

InventoryId                 69_MOUNTMEND_8412
Store                                      69
Brand                                    8412
Description         Tequila Ocho Plata Fresno
Size                                    750mL
VendorNumber                              105
VendorName        ALTAMAR BRANDS LLC
PONumber                                 8124
PODate                             2015-12-21
ReceivingDate                      2016-01-02
InvoiceDate                        2016-01-04
PayDate                            2016-02-16
PurchasePrice                           35.71
Quantity                                    6
Dollars                                214.26
Classification                              1
Name: 0, dtype: object

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Eliminar la primera fila (índice 0)
df = df.drop(index=0)

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_sin_fila1.csv', index=False)

print("Fila 1 eliminada y archivo guardado como 'purchases_final_modified_sin_fila1.csv'")

Fila 1 eliminada y archivo guardado como 'purchases_final_modified_sin_fila1.csv'

In [ ]:
import pandas as pd

# Ruta del archivo modificado
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_sin_fila1.csv'

# Cargar el archivo modificado en un DataFrame
df = pd.read_csv(file_path)

# Verificar el número de filas
num_rows = len(df)
print(f"La tabla 'purchases_final_modified_sin_fila1.csv' tiene {num_rows} filas.")

# Mostrar las primeras filas para inspección visual
print(df.head())

La tabla 'purchases_final_modified_sin_fila1.csv' tiene 2372473 filas.
           InventoryId  Store  Brand                   Description   Size  \
0     30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
1    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
2  1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
3    76_DONCASTER_2034     76   2034     Glendalough Double Barrel  750mL
4        5_SUTTON_3348      5   3348           Bombay Sapphire Gin  1.75L

   VendorNumber                   VendorName  PONumber      PODate  \
0          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
1          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
2          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
3           388  ATLANTIC IMPORTING COMPANY       8169  2015-12-24
4           480  BACARDI USA INC                  8106  2015-12-20

  ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0    2016-01-01  2016-01-07  2016-02-21           9.35         4    37.40
1    2016-01-02  2016-01-07  2016-02-21           9.41         5    47.05
2    2016-01-01  2016-01-07  2016-02-21           9.35         6    56.10
3    2016-01-02  2016-01-09  2016-02-16          21.32         5   106.60
4    2016-01-02  2016-01-12  2016-02-05          22.38         6   134.28

   Classification
0               1
1               1
2               1
3               1
4               1

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Convertir la columna 'Classification' a tipo string
df['Classification'] = df['Classification'].astype(str)

# Limpiar la columna 'Classification'
df['Classification'] = df['Classification'].str.strip()  # Eliminar espacios en blanco al inicio y al final
df['Classification'] = df['Classification'].fillna(0)  # Reemplazar valores nulos con 0


# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean.csv', index=False)

print("Columna 'Classification' limpiada y archivo guardado como 'purchases_final_modified_clean.csv'")

Columna 'Classification' limpiada y archivo guardado como 'purchases_final_modified_clean.csv'

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Obtener el número de filas
num_rows = df.shape[0]

# Obtener el número de columnas
num_cols = df.shape[1]

# Obtener los nombres de las columnas
column_names = df.columns.tolist()

# Obtener los tipos de datos de cada columna
data_types = df.dtypes

# Imprimir la información
print(f"Número de filas: {num_rows}")
print(f"Número de columnas: {num_cols}")
print("Columnas:", column_names)
print("Tipos de datos:\n", data_types)

Número de filas: 2372474
Número de columnas: 16
Columnas: ['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification']
Tipos de datos:
 InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification      int64
dtype: object

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Convertir la columna 'Classification' a tipo string
df['Classification'] = df['Classification'].astype(str)

# Obtener el número de filas
num_rows = df.shape[0]

# Obtener el número de columnas
num_cols = df.shape[1]

# Obtener los nombres de las columnas
column_names = df.columns.tolist()

# Obtener los tipos de datos de cada columna
data_types = df.dtypes

# Imprimir la información
print(f"Número de filas: {num_rows}")
print(f"Número de columnas: {num_cols}")
print("Columnas:", column_names)
print("Tipos de datos:\n", data_types)

Número de filas: 2372474
Número de columnas: 16
Columnas: ['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification']
Tipos de datos:
 InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification     object
dtype: object

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Convertir la columna 'Classification' a tipo numérico
df['Classification'] = pd.to_numeric(df['Classification'], errors='coerce')

# Calcular la mediana y la media
median_classification = df['Classification'].median()
mean_classification = df['Classification'].mean()

# Imprimir los resultados
print(f"Mediana de Classification: {median_classification}")
print(f"Media de Classification: {mean_classification}")

# Volver a convertir la columna 'Classification' a tipo string
df['Classification'] = df['Classification'].astype(str)

# Guardar el DataFrame modificado en un nuevo archivo CSV (opcional)
# df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_con_mediana_media.csv', index=False)

Mediana de Classification: 1.0
Media de Classification: 1.4435201397359887

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Eliminar la columna 'Classification'
df = df.drop('Classification', axis=1)

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean_sin_classification.csv', index=False)

print("Columna 'Classification' eliminada y archivo guardado como 'purchases_final_modified_clean_sin_classification.csv'")

Columna 'Classification' eliminada y archivo guardado como 'purchases_final_modified_clean_sin_classification.csv'

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean_sin_classification.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Obtener el número de filas
num_rows = df.shape[0]

# Obtener el número de columnas
num_cols = df.shape[1]

# Obtener los nombres de las columnas
column_names = df.columns.tolist()

# Obtener los tipos de datos de cada columna
data_types = df.dtypes

# Imprimir la información
print(f"Número de filas: {num_rows}")
print(f"Número de columnas: {num_cols}")
print("Columnas:", column_names)
print("Tipos de datos:\n", data_types)

Número de filas: 2372474
Número de columnas: 15
Columnas: ['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars']
Tipos de datos:
 InventoryId       object
Store              int64
Brand              int64
Description       object
Size              object
VendorNumber       int64
VendorName        object
PONumber           int64
PODate            object
ReceivingDate     object
InvoiceDate       object
PayDate           object
PurchasePrice    float64
Quantity           int64
Dollars          float64
dtype: object

In [ ]:
import csv

def clean_csv(file_path, output_path):
    with open(file_path, mode='r', encoding='utf-8') as infile, open(output_path, mode='w', encoding='utf-8', newline='') as outfile:
        reader = csv.reader(infile, delimiter=',')
        writer = csv.writer(outfile, delimiter=',')

        for row in reader:
            row = [field.replace(',', ' ') if field else field for field in row]  # Reemplazar comas con espacio
            writer.writerow(row)

input_file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean_sin_classification.csv'
output_file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean_sin_classification_cleaned.csv'
clean_csv(input_file_path, output_file_path)

In [ ]:
import csv

def check_dollars_column(file_path):
    with open(file_path, mode='r', encoding='utf-8') as file:
        reader = csv.reader(file, delimiter=',')
        row_number = 1

        for row in reader:
            if row_number > 1:  # Saltar la fila de encabezado
                dollars_value = row[14]  # Columna 15 en índice 0
                try:
                    dollars_float = float(dollars_value)
                except ValueError:
                    print(f"Invalid value at Row {row_number}: {dollars_value}")

                # Verificar si el valor tiene más de 18 dígitos en total
                if len(str(dollars_float).replace('.', '').replace('-', '')) > 18:
                    print(f"Value too long at Row {row_number}: {dollars_value}")

                # Verificar si hay más de 2 decimales
                if '.' in dollars_value and len(dollars_value.split('.')[1]) > 2:
                    print(f"Too many decimals at Row {row_number}: {dollars_value}")

            row_number += 1

file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean_sin_classification.csv'
check_dollars_column(file_path)

In [ ]:
import csv

def check_csv_delimiters(file_path):
    with open(file_path, mode='r', encoding='utf-8') as file:
        reader = csv.reader(file, delimiter=',')
        row_number = 0

        for row in reader:
            if row_number == 1:  # Verifica la primera fila de datos
                print(f"First data row: {row}")
                print(f"Number of columns: {len(row)}")
                break
            row_number += 1

file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean_sin_classification.csv'
check_csv_delimiters(file_path)

First data row: ['69_MOUNTMEND_8412', '69', '8412', 'Tequila Ocho Plata Fresno', '750mL', '105', 'ALTAMAR BRANDS LLC         ', '8124', '2015-12-21', '2016-01-02', '2016-01-04', '2016-02-16', '35.71', '6', '214.26']
Number of columns: 15

In [ ]:
import pandas as pd

def explore_dollars_column(file_path):
    # Leer el archivo CSV en un DataFrame de pandas
    df = pd.read_csv(file_path, delimiter=',')

    # Explorar la columna 'Dollars'
    dollars_data = df['Dollars']

    # Estadísticas descriptivas
    stats = dollars_data.describe()
    print("Estadísticas descriptivas de la columna 'Dollars':")
    print(stats)

    # Valores únicos
    unique_values = dollars_data.unique()
    print("\nValores únicos en la columna 'Dollars':")
    print(unique_values)

    # Valores nulos
    null_values = dollars_data.isnull().sum()
    print(f"\nNúmero de valores nulos en la columna 'Dollars': {null_values}")

    # Valores atípicos (outliers) utilizando el rango intercuartílico (IQR)
    Q1 = dollars_data.quantile(0.25)
    Q3 = dollars_data.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = dollars_data[(dollars_data < lower_bound) | (dollars_data > upper_bound)]
    print(f"\nValores atípicos en la columna 'Dollars':")
    print(outliers)

file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean_sin_classification.csv'
explore_dollars_column(file_path)

Estadísticas descriptivas de la columna 'Dollars':
count    2.372474e+06
mean     1.356815e+02
std      2.816649e+02
min      0.000000e+00
25%      4.926000e+01
50%      8.393000e+01
75%      1.405200e+02
max      5.017570e+04
Name: Dollars, dtype: float64

Valores únicos en la columna 'Dollars':
[214.26  37.4   47.05 ... 466.14 418.6  464.6 ]

Número de valores nulos en la columna 'Dollars': 0

Valores atípicos en la columna 'Dollars':
11          281.16
17          510.65
19          340.02
26         4389.19
28          959.58
            ...
2372340     326.88
2372347     326.40
2372384     354.24
2372387     464.60
2372404     635.60
Name: Dollars, Length: 191797, dtype: float64

In [ ]:
import pandas as pd

def clean_dollars_column(file_path, output_path):
    df = pd.read_csv(file_path, delimiter=',')

    # Definir límites para valores atípicos
    Q1 = df['Dollars'].quantile(0.25)
    Q3 = df['Dollars'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Limpiar valores atípicos
    df['Dollars'] = df['Dollars'].apply(lambda x: x if lower_bound <= x <= upper_bound else None)

    # Guardar el archivo limpio
    df.to_csv(output_path, index=False)

input_file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_clean_sin_classification.csv'
output_file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_cleaned.csv'
clean_dollars_column(input_file_path, output_file_path)

In [ ]:
import pandas as pd

# Lee el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_cleaned.csv')

# Obtén los tipos de datos de cada columna
data_types = df.dtypes

# Imprime los tipos de datos
print(data_types)

InventoryId       object
Store              int64
Brand              int64
Description       object
Size              object
VendorNumber       int64
VendorName        object
PONumber           int64
PODate            object
ReceivingDate     object
InvoiceDate       object
PayDate           object
PurchasePrice    float64
Quantity           int64
Dollars          float64
dtype: object

In [ ]:
import pandas as pd

def adjust_terminators(input_path, output_path):
    df = pd.read_csv(input_path, delimiter=',')

    # Guardar el archivo CSV con terminadores de línea consistentes
    df.to_csv(output_path, index=False, lineterminator='\r\n')

input_file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_cleaned.csv'
output_file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_adjusted.csv'
adjust_terminators(input_file_path, output_file_path)

print(f"Archivo limpio guardado en: {output_file_path}")

Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_adjusted.csv

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Explorar la tabla
print(f'Dimensiones de la tabla: {df.shape}')  # Muestra el número de filas y columnas
print('\nPrimeras 5 filas:')
print(df.head())  # Muestra las primeras 5 filas
print('\nInformación general:')
print(df.info())  # Muestra información general, incluyendo tipos de datos y valores no nulos

Dimensiones de la tabla: (5543, 10)

Primeras 5 filas:
   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight Approval
0  2015-12-21  2016-02-16         6     214.26     3.47      NaN
1  2015-12-22  2016-02-21        15     140.55     8.57      NaN
2  2015-12-24  2016-02-16         5     106.60     4.61      NaN
3  2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4  2015-12-24  2016-02-12      1935   15527.25   429.20      NaN

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB
None

In [ ]:
import pandas as pd

# Leer el archivo CSV desde la ubicación especificada
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified.csv'

# Leer datos del archivo CSV
df = pd.read_csv(file_path)

# Reemplazar valores NaN en la columna Approval
df['Approval'].fillna('Sin aprobación', inplace=True)

# Guardar el archivo limpio de nuevo, si es necesario
output_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned.csv'
df.to_csv(output_path, index=False)

print(f"Archivo limpio guardado en: {output_path}")

# Si deseas hacer más análisis en Python, puedes continuar aquí
print(df.head())

Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned.csv
   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight        Approval
0  2015-12-21  2016-02-16         6     214.26     3.47  Sin aprobación
1  2015-12-22  2016-02-21        15     140.55     8.57  Sin aprobación
2  2015-12-24  2016-02-16         5     106.60     4.61  Sin aprobación
3  2015-12-20  2016-02-05     10100  137483.78  2935.20  Sin aprobación
4  2015-12-24  2016-02-12      1935   15527.25   429.20  Sin aprobación

<ipython-input-2-3d45020caa36>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Approval'].fillna('Sin aprobación', inplace=True)

In [ ]:
import pandas as pd
import re

def check_data_inconsistencies(file_path):
    df = pd.read_csv(file_path)

    # Verificar espacios en blanco en cada columna
    def check_whitespace(column):
        whitespace_count = column.str.contains(r'^\s+|\s+$', na=False).sum()
        if whitespace_count > 0:
            print(f"{whitespace_count} valores con espacios en blanco detectados en la columna '{column.name}'")

    # Verificar caracteres especiales en cada columna
    def check_special_characters(column):
        special_char_count = column.str.contains(r'[^\w\s,.]', na=False).sum()
        if special_char_count > 0:
            print(f"{special_char_count} valores con caracteres especiales detectados en la columna '{column.name}'")

    # Verificar longitud de los valores en cada columna
    def check_length(column, max_length):
        long_values_count = column.str.len().gt(max_length, fill_value=False).sum()
        if long_values_count > 0:
            print(f"{long_values_count} valores exceden la longitud máxima de {max_length} caracteres en la columna '{column.name}'")

    for column in df.select_dtypes(include=['object']).columns:
        check_whitespace(df[column])
        check_special_characters(df[column])
        check_length(df[column], 255)  # Ajustar el valor máximo según sea necesario

    print("Verificación completa")

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned.csv'

# Ejecutar la verificación
check_data_inconsistencies(file_path)

5133 valores con espacios en blanco detectados en la columna 'VendorName'
571 valores con caracteres especiales detectados en la columna 'VendorName'
5543 valores con caracteres especiales detectados en la columna 'InvoiceDate'
5543 valores con caracteres especiales detectados en la columna 'PODate'
5543 valores con caracteres especiales detectados en la columna 'PayDate'
Verificación completa

In [ ]:
import pandas as pd
import re

# Leer el archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned.csv'
df = pd.read_csv(file_path)

# Función para eliminar espacios en blanco al inicio y al final
def clean_whitespace(column):
    return column.str.strip()

# Función para eliminar caracteres especiales
def remove_special_characters(column):
    return column.apply(lambda x: re.sub(r'[^\w\s]', '', str(x)))

# Limpiar espacios en blanco y caracteres especiales en la columna 'VendorName'
df['VendorName'] = clean_whitespace(df['VendorName'])
df['VendorName'] = remove_special_characters(df['VendorName'])

# Eliminar caracteres especiales en las columnas de fechas
df['InvoiceDate'] = remove_special_characters(df['InvoiceDate'])
df['PODate'] = remove_special_characters(df['PODate'])
df['PayDate'] = remove_special_characters(df['PayDate'])

# Convertir las columnas de fechas de vuelta a formato de fecha
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%Y%m%d', errors='coerce')
df['PODate'] = pd.to_datetime(df['PODate'], format='%Y%m%d', errors='coerce')
df['PayDate'] = pd.to_datetime(df['PayDate'], format='%Y%m%d', errors='coerce')

# Guardar el archivo limpio de nuevo
output_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned_final.csv'
df.to_csv(output_path, index=False)

print(f"Archivo limpio guardado en: {output_path}")

# Verificar algunos datos después de la limpieza
print(df.head())

Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned_final.csv
   VendorNumber                  VendorName InvoiceDate  PONumber     PODate  \
0           105          ALTAMAR BRANDS LLC  2016-01-04      8124 2015-12-21
1          4466   AMERICAN VINTAGE BEVERAGE  2016-01-07      8137 2015-12-22
2           388  ATLANTIC IMPORTING COMPANY  2016-01-09      8169 2015-12-24
3           480             BACARDI USA INC  2016-01-12      8106 2015-12-20
4           516         BANFI PRODUCTS CORP  2016-01-07      8170 2015-12-24

     PayDate  Quantity    Dollars  Freight        Approval
0 2016-02-16         6     214.26     3.47  Sin aprobación
1 2016-02-21        15     140.55     8.57  Sin aprobación
2 2016-02-16         5     106.60     4.61  Sin aprobación
3 2016-02-05     10100  137483.78  2935.20  Sin aprobación
4 2016-02-12      1935   15527.25   429.20  Sin aprobación

In [ ]:
import pandas as pd

# Leer el archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned_final.csv'
df = pd.read_csv(file_path)

# Verificar la columna `VendorNumber` para detectar caracteres no válidos
invalid_vendor_numbers = df[~df['VendorNumber'].apply(lambda x: str(x).isdigit())]

if not invalid_vendor_numbers.empty:
    print("Valores no válidos en la columna 'VendorNumber':")
    print(invalid_vendor_numbers)
else:
    print("Todos los valores en la columna 'VendorNumber' son válidos.")

# Eliminar filas con valores no válidos en `VendorNumber`
df = df[df['VendorNumber'].apply(lambda x: str(x).isdigit())]

# Convertir la columna `VendorNumber` a enteros
df['VendorNumber'] = df['VendorNumber'].astype(int)

# Guardar el archivo limpio de nuevo
output_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned_final_v2.csv'
df.to_csv(output_path, index=False)

print(f"Archivo limpio guardado en: {output_path}")

Todos los valores en la columna 'VendorNumber' son válidos.
Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified_cleaned_final_v2.csv

In [ ]:
import pandas as pd

# Ruta del archivo CSV
input_file = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'
output_file = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_cleaned.csv'

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(input_file)

# Mostrar los duplicados en la columna 'InventoryId'
print("Duplicados encontrados:")
print(df[df.duplicated(subset='InventoryId', keep=False)])

# Eliminar duplicados y conservar el primero
df_cleaned = df.drop_duplicates(subset='InventoryId', keep='first')

# Guardar el archivo limpio
df_cleaned.to_csv(output_file, index=False)

print(f"Archivo limpio guardado en: {output_file}")

Duplicados encontrados:
                  InventoryId  Store  Brand                   Description  \
0           69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno
1            30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide
2           34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced
3         1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide
4           76_DONCASTER_2034     76   2034     Glendalough Double Barrel
...                       ...    ...    ...                           ...
2372469     49_GARIGILL_22298     49  22298       Zorvino Vyds Sangiovese
2372470  1_HARDERSFIELD_19556      1  19556    Zorvino Bacca Z Blackberry
2372471   66_EANVERNESS_22297     66  22297            Zorvino Vyds Pearz
2372472    69_MOUNTMEND_19557     69  19557  Zorvino Fragole Z Strawberry
2372473    55_DRY GULCH_22298     55  22298       Zorvino Vyds Sangiovese

          Size  VendorNumber                   VendorName  PONumber  \
0        750mL           105  ALTAMAR BRANDS LLC               8124
1        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
2        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
3        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
4        750mL           388  ATLANTIC IMPORTING COMPANY       8169
...        ...           ...                          ...       ...
2372469  750mL         90058  ZORVINO VINEYARDS               13593
2372470  750mL         90058  ZORVINO VINEYARDS               13593
2372471  750mL         90058  ZORVINO VINEYARDS               13593
2372472  750mL         90058  ZORVINO VINEYARDS               13593
2372473  750mL         90058  ZORVINO VINEYARDS               13593

             PODate ReceivingDate InvoiceDate     PayDate  PurchasePrice  \
0        2015-12-21    2016-01-02  2016-01-04  2016-02-16          35.71
1        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
2        2015-12-22    2016-01-02  2016-01-07  2016-02-21           9.41
3        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
4        2015-12-24    2016-01-02  2016-01-09  2016-02-16          21.32
...             ...           ...         ...         ...            ...
2372469  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06
2372470  2016-12-19    2016-12-27  2017-01-09  2017-02-06           9.39
2372471  2016-12-19    2016-12-26  2017-01-09  2017-02-06           6.75
2372472  2016-12-19    2016-12-26  2017-01-09  2017-02-06           9.39
2372473  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06

         Quantity  Dollars
0               6   214.26
1               4    37.40
2               5    47.05
3               6    56.10
4               5   106.60
...           ...      ...
2372469        12    96.72
2372470        12   112.68
2372471        12    81.00
2372472        12   112.68
2372473        12    96.72

[2315803 rows x 15 columns]
Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_cleaned.csv

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified_cleaned.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Obtener el número de filas
num_rows = len(df)

# Imprimir el número de filas
print(f"La tabla tiene {num_rows} filas.")

La tabla tiene 245907 filas.

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'VendorNumber'
duplicate_vendor_numbers = df['VendorNumber'].duplicated().any()

# Imprimir el resultado
if duplicate_vendor_numbers:
    print("Hay valores duplicados en la columna 'VendorNumber'.")
    # Mostrar los valores duplicados y su frecuencia:
    print(df['VendorNumber'].value_counts()[df['VendorNumber'].value_counts() > 1])
else:
    print("No hay valores duplicados en la columna 'VendorNumber'.")

Hay valores duplicados en la columna 'VendorNumber'.
VendorNumber
3960     243326
12546    189832
1392     185574
4425     176781
3252     162567
          ...
6280         16
2            13
200           8
90033         2
90026         2
Name: count, Length: 121, dtype: int64

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'InventoryID'
duplicate_inventory_ids = df['InventoryId'].duplicated().any()

# Imprimir el resultado
if duplicate_inventory_ids:
    print("Hay valores duplicados en la columna 'InventoryId'.")
    # Mostrar los valores duplicados y su frecuencia:
    print(df['InventoryId'].value_counts()[df['InventoryId'].value_counts() > 1])
else:
    print("No hay valores duplicados en la columna 'InventoryId'.")

Hay valores duplicados en la columna 'InventoryId'.
InventoryId
73_DONCASTER_8068      180
73_DONCASTER_3545      178
76_DONCASTER_1233      175
76_DONCASTER_5364      174
67_EANVERNESS_3545     171
                      ...
44_PORTHCRAWL_38542      2
23_ARBINGTON_22696       2
44_PORTHCRAWL_26787      2
44_PORTHCRAWL_46201      2
34_PITMERDEN_3666        2
Name: count, Length: 189236, dtype: int64

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'BRAND'
duplicate_brands = df['Brand'].duplicated().any()

# Imprimir el resultado
if duplicate_brands:
    print("Hay valores duplicados en la columna 'Brand'.")
    # Mostrar los valores duplicados y su frecuencia:
    print(df['Brand'].value_counts()[df['Brand'].value_counts() > 1])
else:
    print("No hay valores duplicados en la columna 'Brand'.")

Hay valores duplicados en la columna 'Brand'.
Brand
8068     7359
3893     7166
4261     6774
1233     6584
3405     6506
         ...
16696       2
14341       2
1492        2
3475        2
23470       2
Name: count, Length: 9293, dtype: int64

In [ ]:
import pandas as pd

# Lista de archivos CSV
files = [
    'big_inventory_modified.csv',
    'end_inventory_modified.csv',
    'purchases_final_modified.csv',
    'sales_final_modified.csv'
]

# Rutas de directorios
input_directory = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/'
output_directory = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/'

# Iterar sobre cada archivo
for file in files:
    # Ruta completa del archivo de entrada y salida
    input_path = input_directory + file
    output_path = output_directory + file.replace('.csv', '_with_transactionid.csv')

    # Cargar el archivo CSV en un DataFrame de pandas
    df = pd.read_csv(input_path)

    # Crear la columna TransactionID con autoincremento y tipo de dato INT
    df['TransactionID'] = pd.Series(range(1, len(df) + 1), dtype='int')

    # Guardar el DataFrame modificado en un nuevo archivo CSV
    df.to_csv(output_path, index=False)

    print(f"Archivo {file} modificado y guardado en: {output_path}")

Archivo big_inventory_modified.csv modificado y guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/big_inventory_modified_with_transactionid.csv
Archivo end_inventory_modified.csv modificado y guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/end_inventory_modified_with_transactionid.csv
Archivo purchases_final_modified.csv modificado y guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/purchases_final_modified_with_transactionid.csv
Archivo sales_final_modified.csv modificado y guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/sales_final_modified_with_transactionid.csv

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL/purchases_final_modified_with_transactionid.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Mostrar las primeras 5 filas
print(df.head())

           InventoryId  Store  Brand                   Description   Size  \
0    69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno  750mL
1     30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
2    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
3  1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
4    76_DONCASTER_2034     76   2034     Glendalough Double Barrel  750mL

   VendorNumber                   VendorName  PONumber      PODate  \
0           105  ALTAMAR BRANDS LLC               8124  2015-12-21
1          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
2          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
3          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
4           388  ATLANTIC IMPORTING COMPANY       8169  2015-12-24

  ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0    2016-01-02  2016-01-04  2016-02-16          35.71         6   214.26
1    2016-01-01  2016-01-07  2016-02-21           9.35         4    37.40
2    2016-01-02  2016-01-07  2016-02-21           9.41         5    47.05
3    2016-01-01  2016-01-07  2016-02-21           9.35         6    56.10
4    2016-01-02  2016-01-09  2016-02-16          21.32         5   106.60

   TransactionID
0              1
1              2
2              3
3              4
4              5

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchase_prices_2017_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'Brand'
duplicate_brands = df['Brand'].duplicated().any()

# Imprimir el resultado
if duplicate_brands:
    print("Hay valores duplicados en la columna 'Brand'.")
    # Para ver los valores duplicados y su frecuencia, ejecuta este código:
    print(df['Brand'].value_counts()[df['Brand'].value_counts() > 1])
else:
    print("No hay valores duplicados en la columna 'Brand'.")

No hay valores duplicados en la columna 'Brand'.

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/big_inventory_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'Brand'
duplicate_brands = df['Brand'].duplicated().any()

# Imprimir el resultado
if duplicate_brands:
    print("Hay valores duplicados en la columna 'Brand'.")
    # Para ver los valores duplicados y su frecuencia, ejecuta este código:
    print(df['Brand'].value_counts()[df['Brand'].value_counts() > 1])
else:
    print("No hay valores duplicados en la columna 'Brand'.")

Hay valores duplicados en la columna 'Brand'.
Brand
2426     79
1375     79
8339     79
4241     79
4234     79
         ..
19658     2
22073     2
22173     2
21960     2
19637     2
Name: count, Length: 6808, dtype: int64

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/end_inventory_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'Brand'
duplicate_brands = df['Brand'].duplicated().any()

# Imprimir el resultado
if duplicate_brands:
    print("Hay valores duplicados en la columna 'Brand'.")
    # Para ver los valores duplicados y su frecuencia, ejecuta este código:
    print(df['Brand'].value_counts()[df['Brand'].value_counts() > 1])
else:
    print("No hay valores duplicados en la columna 'Brand'.")

Hay valores duplicados en la columna 'Brand'.
Brand
2122     80
3859     80
3877     80
16806    80
3878     80
         ..
8079      2
590       2
3628      2
27095     2
24531     2
Name: count, Length: 7728, dtype: int64

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchases_final_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'Brand'
duplicate_brands = df['Brand'].duplicated().any()

# Imprimir el resultado
if duplicate_brands:
    print("Hay valores duplicados en la columna 'Brand'.")
    # Para ver los valores duplicados y su frecuencia, ejecuta este código:
    print(df['Brand'].value_counts()[df['Brand'].value_counts() > 1])
else:
    print("No hay valores duplicados en la columna 'Brand'.")

Hay valores duplicados en la columna 'Brand'.
Brand
8068     7359
3893     7166
4261     6774
1233     6584
3405     6506
         ...
16696       2
14341       2
1492        2
3475        2
23470       2
Name: count, Length: 9293, dtype: int64

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/sales_final_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'Brand'
duplicate_brands = df['Brand'].duplicated().any()

# Imprimir el resultado
if duplicate_brands:
    print("Hay valores duplicados en la columna 'Brand'.")
    # Para ver los valores duplicados y su frecuencia, ejecuta este código:
    print(df['Brand'].value_counts()[df['Brand'].value_counts() > 1])
else:
    print("No hay valores duplicados en la columna 'Brand'.")

Hay valores duplicados en la columna 'Brand'.
Brand
3606     2077
8111     2064
1892     2016
4261     1969
5111     1962
         ...
21435       2
21449       2
21614       2
608         2
1274        2
Name: count, Length: 6714, dtype: int64

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchase_prices_2017_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores duplicados en la columna 'Brand'
if df['Brand'].is_unique:
  print("Los valores en la columna 'Brand' son únicos.")
else:
  print("Hay valores duplicados en la columna 'Brand'.")
  # Para ver los valores duplicados y su frecuencia, puedes usar:
  print(df['Brand'].value_counts()[df['Brand'].value_counts() > 1])

Los valores en la columna 'Brand' son únicos.

In [ ]:
import pandas as pd

# Ruta de la tabla original
original_table_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchase_prices_2017_modified.csv'

# Ruta para guardar la nueva tabla
new_table_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv'

# Cargar la tabla original en un DataFrame
df_original = pd.read_csv(original_table_path)

# Crear un nuevo DataFrame con las columnas seleccionadas
df_productos = df_original[['Description', 'Brand', 'Size']].copy()

# Guardar el nuevo DataFrame como un archivo CSV
df_productos.to_csv(new_table_path, index=False)

print(f"Tabla 'Productos' creada y guardada en: {new_table_path}")

Tabla 'Productos' creada y guardada en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv

In [ ]:
import pandas as pd

# Lista de nombres de archivos CSV
files = [
    'big_inventory_modified.csv',
    'end_inventory_modified.csv',
    'purchase_prices_2017_modified.csv',
    'purchases_final_modified.csv',
    'sales_final_modified.csv',
    'Productos.csv'
]

# Ruta del directorio donde se encuentran los archivos
directory = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/'

# Iterar sobre cada archivo
for file in files:
    # Ruta completa del archivo
    file_path = directory + file

    # Cargar el archivo CSV en un DataFrame de pandas
    df = pd.read_csv(file_path)

    # Crear la columna ProductID con autoincremento
    df['ProductID'] = range(1, len(df) + 1)

    # Guardar el DataFrame modificado en el mismo archivo
    df.to_csv(file_path, index=False)

    print(f"Columna 'ProductID' agregada al archivo: {file}")

print("Proceso completado para todos los archivos.")

Columna 'ProductID' agregada al archivo: big_inventory_modified.csv
Columna 'ProductID' agregada al archivo: end_inventory_modified.csv
Columna 'ProductID' agregada al archivo: purchase_prices_2017_modified.csv
Columna 'ProductID' agregada al archivo: purchases_final_modified.csv
Columna 'ProductID' agregada al archivo: sales_final_modified.csv
Columna 'ProductID' agregada al archivo: Productos.csv
Proceso completado para todos los archivos.

In [ ]:
import pandas as pd
import os

# Lista de nombres de archivos CSV
files = [
    'big_inventory_modified.csv',
    'end_inventory_modified.csv',
    'purchase_prices_2017_modified.csv',
    'purchases_final_modified.csv',
    'sales_final_modified.csv',
    'Productos.csv'
]

# Ruta del directorio donde se encuentran los archivos
directory = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/'

# Iterar sobre cada archivo
for file in files:
    # Ruta completa del archivo
    file_path = os.path.join(directory, file)

    # Cargar el archivo CSV en un DataFrame de pandas
    df = pd.read_csv(file_path)

    # Explorar las columnas
    print(f"Explorando columnas del archivo: {file}")
    print(f"Nombre de columnas: {df.columns.tolist()}")  # Imprimir nombres de columnas
    print(f"Tipos de datos:\n{df.dtypes}")  # Imprimir tipos de datos de cada columna
    print(f"Primeras 5 filas:\n{df.head()}")  # Imprimir las primeras 5 filas
    print("\n" + "-" * 30 + "\n")  # Separador visual entre archivos

Explorando columnas del archivo: big_inventory_modified.csv
Nombre de columnas: ['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size', 'onHand', 'Price', 'startDate', 'ProductID']
Tipos de datos:
InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
startDate       object
ProductID        int64
dtype: object
Primeras 5 filas:
         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price   startDate  ProductID
0  750mL       8  12.99  2016-01-01          1
1  750mL       7  10.99  2016-01-01          2
2  750mL       6  36.99  2016-01-01          3
3  750mL       3  38.99  2016-01-01          4
4  750mL       6  34.99  2016-01-01          5

------------------------------

Explorando columnas del archivo: end_inventory_modified.csv
Nombre de columnas: ['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size', 'onHand', 'Price', 'endDate', 'ProductID']
Tipos de datos:
InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
endDate         object
ProductID        int64
dtype: object
Primeras 5 filas:
         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
2  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
3  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin
4  1_HARDERSFIELD_75      1  HARDERSFIELD     75    Three Olives Tomato Vodka

    Size  onHand  Price     endDate  ProductID
0  750mL      11  12.99  2016-12-31          1
1  750mL       7  36.99  2016-12-31          2
2  750mL       7  38.99  2016-12-31          3
3  750mL       4  34.99  2016-12-31          4
4  750mL       7  14.99  2016-12-31          5

------------------------------

Explorando columnas del archivo: purchase_prices_2017_modified.csv
Nombre de columnas: ['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification', 'PurchasePrice', 'VendorNumber', 'VendorName', 'ProductID']
Tipos de datos:
Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
ProductID           int64
dtype: object
Primeras 5 filas:
   Brand                  Description  Price   Size Volume  Classification  \
0     58  Gekkeikan Black & Gold Sake  12.99  750mL    750               1
1     62     Herradura Silver Tequila  36.99  750mL    750               1
2     63   Herradura Reposado Tequila  38.99  750mL    750               1
3     72         No. 3 London Dry Gin  34.99  750mL    750               1
4     75    Three Olives Tomato Vodka  14.99  750mL    750               1

   PurchasePrice  VendorNumber                   VendorName  ProductID
0           9.28          8320  SHAW ROSS INT L IMP LTD              1
1          28.67          1128  BROWN-FORMAN CORP                    2
2          30.46          1128  BROWN-FORMAN CORP                    3
3          26.11          9165  ULTRA BEVERAGE COMPANY LLP           4
4          10.94          7245  PROXIMO SPIRITS INC.                 5

------------------------------

Explorando columnas del archivo: purchases_final_modified.csv
Nombre de columnas: ['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'ProductID']
Tipos de datos:
InventoryId       object
Store              int64
Brand              int64
Description       object
Size              object
VendorNumber       int64
VendorName        object
PONumber           int64
PODate            object
ReceivingDate     object
InvoiceDate       object
PayDate           object
PurchasePrice    float64
Quantity           int64
Dollars          float64
ProductID          int64
dtype: object
Primeras 5 filas:
           InventoryId  Store  Brand                   Description   Size  \
0    69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno  750mL
1     30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
2    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
3  1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
4    76_DONCASTER_2034     76   2034     Glendalough Double Barrel  750mL

   VendorNumber                   VendorName  PONumber      PODate  \
0           105  ALTAMAR BRANDS LLC               8124  2015-12-21
1          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
2          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
3          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
4           388  ATLANTIC IMPORTING COMPANY       8169  2015-12-24

  ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0    2016-01-02  2016-01-04  2016-02-16          35.71         6   214.26
1    2016-01-01  2016-01-07  2016-02-21           9.35         4    37.40
2    2016-01-02  2016-01-07  2016-02-21           9.41         5    47.05
3    2016-01-01  2016-01-07  2016-02-21           9.35         6    56.10
4    2016-01-02  2016-01-09  2016-02-16          21.32         5   106.60

   ProductID
0          1
1          2
2          3
3          4
4          5

------------------------------

Explorando columnas del archivo: sales_final_modified.csv
Nombre de columnas: ['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification', 'ExciseTax', 'VendorNo', 'VendorName', 'ProductID']
Tipos de datos:
InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
SalesQuantity       int64
SalesDollars      float64
SalesPrice        float64
SalesDate          object
Volume              int64
Classification      int64
ExciseTax         float64
VendorNo            int64
VendorName         object
ProductID           int64
dtype: object
Primeras 5 filas:
           InventoryId  Store  Brand                 Description        Size  \
0  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
1  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
2  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
3  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
4  1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack  375mL 2 Pk

   SalesQuantity  SalesDollars  SalesPrice SalesDate  Volume  Classification  \
0              1         16.49       16.49  1/1/2016     750               1
1              2         32.98       16.49  1/2/2016     750               1
2              1         16.49       16.49  1/3/2016     750               1
3              1         14.49       14.49  1/8/2016     750               1
4              2         69.98       34.99  1/9/2016     375               1

   ExciseTax  VendorNo                   VendorName  ProductID
0       0.79     12546  JIM BEAM BRANDS COMPANY              1
1       1.57     12546  JIM BEAM BRANDS COMPANY              2
2       0.79     12546  JIM BEAM BRANDS COMPANY              3
3       0.79     12546  JIM BEAM BRANDS COMPANY              4
4       0.79     12546  JIM BEAM BRANDS COMPANY              5

------------------------------

Explorando columnas del archivo: Productos.csv
Nombre de columnas: ['Description', 'Brand', 'Size', 'ProductID']
Tipos de datos:
Description    object
Brand           int64
Size           object
ProductID       int64
dtype: object
Primeras 5 filas:
                   Description  Brand   Size  ProductID
0  Gekkeikan Black & Gold Sake     58  750mL          1
1     Herradura Silver Tequila     62  750mL          2
2   Herradura Reposado Tequila     63  750mL          3
3         No. 3 London Dry Gin     72  750mL          4
4    Three Olives Tomato Vodka     75  750mL          5

------------------------------

In [ ]:
import pandas as pd
import os

# Lista de archivos CSV
files = [
    'big_inventory_modified.csv',
    'end_inventory_modified.csv',
    'purchase_prices_2017_modified.csv',
    'purchases_final_modified.csv',
    'sales_final_modified.csv',
    'Productos.csv'
]

# Ruta del directorio donde se encuentran los archivos
directory = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/'

# Función para generar el contenido del archivo format.fmt.txt
def generate_fmt_content(df, file_name):
    content = "10.0\n"
    for i, column in enumerate(df.columns, 1):
        data_type = df[column].dtype

        # Mapeo de tipos de datos de pandas a SQL Server
        fmt_data_type = {
            'int64': 'INT',
            'float64': 'NUMERIC',
            'object': 'VARCHAR',
            'datetime64[ns]': 'DATETIME'
        }.get(str(data_type), 'VARCHAR')  # Por defecto, VARCHAR si no se encuentra

        # Calcular la longitud para VARCHAR
        length = 255 if fmt_data_type == 'VARCHAR' else df[column].astype(str).str.len().max()

        # Construir la línea del archivo format.fmt.txt
        content += f'{i}\t{fmt_data_type}\t{length if length <= 255 else 255}\t{length if length <= 255 else 255}\t"{column}"\tSQL_Latin1_General_CP1_CI_AS\n'

    return content

# Generar archivos format.fmt.txt
for file in files:
    file_path = os.path.join(directory, file)
    df = pd.read_csv(file_path)

    # Generar el contenido del archivo format.fmt.txt
    fmt_content = generate_fmt_content(df, file)

    # Definir la ruta del archivo format.fmt.txt
    fmt_file_path = os.path.join(directory, f'format_{file.replace(".csv", ".fmt.txt")}')

    # Guardar el archivo format.fmt.txt
    with open(fmt_file_path, 'w') as f:
        f.write(fmt_content)

    print(f"Archivo de formato creado: {fmt_file_path}")

Archivo de formato creado: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/format_big_inventory_modified.fmt.txt
Archivo de formato creado: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/format_end_inventory_modified.fmt.txt
Archivo de formato creado: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/format_purchase_prices_2017_modified.fmt.txt
Archivo de formato creado: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/format_purchases_final_modified.fmt.txt
Archivo de formato creado: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/format_sales_final_modified.fmt.txt
Archivo de formato creado: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/format_Productos.fmt.txt

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Eliminar filas con valores nulos en las columnas 'Description' o 'Size'
df = df.dropna(subset=['Description', 'Size'])

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos_clean.csv', index=False)

print("Archivo 'Productos_clean.csv' creado con valores nulos eliminados.")

Archivo 'Productos_clean.csv' creado con valores nulos eliminados.

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos_clean.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Obtener las dimensiones del DataFrame
num_rows = df.shape[0]  # Número de filas
num_cols = df.shape[1]  # Número de columnas

# Imprimir las dimensiones
print(f"El archivo 'Productos.csv' tiene {num_rows} filas y {num_cols} columnas.")

El archivo 'Productos.csv' tiene 12260 filas y 4 columnas.

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Obtener los tipos de datos de las columnas
data_types = df.dtypes

# Generar la sentencia CREATE TABLE
sql_create_table = "CREATE TABLE Productos (\n"

for column_name, data_type in data_types.items():
    # Mapear tipos de datos de pandas a SQL
    sql_data_type = {
        'int64': 'INT',
        'float64': 'DECIMAL(18,2)',  # Ajusta la precisión y la escala según sea necesario
        'object': 'VARCHAR(255)',  # Ajusta la longitud máxima según sea necesario
        'bool': 'BIT',
        'datetime64[ns]': 'DATETIME'
    }.get(str(data_type), 'VARCHAR(255)')  # Por defecto, VARCHAR(255)

    # Agregar la columna a la sentencia CREATE TABLE
    sql_create_table += f"  {column_name} {sql_data_type},\n"

# Eliminar la última coma y agregar el cierre de la sentencia
sql_create_table = sql_create_table[:-2] + "\n);"

# Imprimir la sentencia CREATE TABLE
print(sql_create_table)

CREATE TABLE Productos (
  Description VARCHAR(255),
  Brand INT,
  Size VARCHAR(255),
  ProductID INT
);

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/invoice_purchases_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Crear la columna ProductID con autoincremento
df['ProductID'] = range(1, len(df) + 1)

# Guardar el DataFrame modificado en el mismo archivo
df.to_csv(file_path, index=False)

print("Columna 'ProductID' agregada al archivo: invoice_purchases_modified.csv")

print("Proceso completado.")

Columna 'ProductID' agregada al archivo: invoice_purchases_modified.csv
Proceso completado.

In [ ]:
import pandas as pd

# Lista de nombres de archivos CSV
file_names = [
    'big_inventory_modified.csv',
    'end_inventory_modified.csv',
    'purchase_prices_2017_modified.csv',
    'purchases_final_modified.csv',
    'sales_final_modified.csv',
    'invoice_purchases_modified.csv'
]

# Ruta base para los archivos CSV
base_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/'

# Iterar sobre cada archivo
for file_name in file_names:
    # Ruta completa del archivo CSV
    file_path = base_path + file_name

    # Cargar el archivo CSV en un DataFrame de pandas
    df = pd.read_csv(file_path)

    # Obtener los tipos de datos de las columnas
    data_types = df.dtypes

    # Generar la sentencia CREATE TABLE
    sql_create_table = f"CREATE TABLE {file_name[:-4]} (\n"

    for column_name, data_type in data_types.items():
        # Mapear tipos de datos de pandas a SQL
        sql_data_type = {
            'int64': 'INT',
            'float64': 'DECIMAL(18,2)',  # Ajusta la precisión y la escala según sea necesario
            'object': 'VARCHAR(255)',  # Ajusta la longitud máxima según sea necesario
            'bool': 'BIT',
            'datetime64[ns]': 'DATETIME'
        }.get(str(data_type), 'VARCHAR(255)')  # Por defecto, VARCHAR(255)

        # Agregar la columna a la sentencia CREATE TABLE
        sql_create_table += f"  {column_name} {sql_data_type},\n"

    # Eliminar la última coma y agregar el cierre de la sentencia
    sql_create_table = sql_create_table[:-2] + "\n);"

    # Imprimir la sentencia CREATE TABLE
    print(sql_create_table)
    print("\n")  # Agregar una línea en blanco para separar las sentencias

CREATE TABLE big_inventory_modified (
  InventoryId VARCHAR(255),
  Store INT,
  City VARCHAR(255),
  Brand INT,
  Description VARCHAR(255),
  Size VARCHAR(255),
  onHand INT,
  Price DECIMAL(18,2),
  startDate VARCHAR(255),
  ProductID INT
);


CREATE TABLE end_inventory_modified (
  InventoryId VARCHAR(255),
  Store INT,
  City VARCHAR(255),
  Brand INT,
  Description VARCHAR(255),
  Size VARCHAR(255),
  onHand INT,
  Price DECIMAL(18,2),
  endDate VARCHAR(255),
  ProductID INT
);


CREATE TABLE purchase_prices_2017_modified (
  Brand INT,
  Description VARCHAR(255),
  Price DECIMAL(18,2),
  Size VARCHAR(255),
  Volume VARCHAR(255),
  Classification INT,
  PurchasePrice DECIMAL(18,2),
  VendorNumber INT,
  VendorName VARCHAR(255),
  ProductID INT
);


CREATE TABLE purchases_final_modified (
  InventoryId VARCHAR(255),
  Store INT,
  Brand INT,
  Description VARCHAR(255),
  Size VARCHAR(255),
  VendorNumber INT,
  VendorName VARCHAR(255),
  PONumber INT,
  PODate VARCHAR(255),
  ReceivingDate VARCHAR(255),
  InvoiceDate VARCHAR(255),
  PayDate VARCHAR(255),
  PurchasePrice DECIMAL(18,2),
  Quantity INT,
  Dollars DECIMAL(18,2),
  ProductID INT
);


CREATE TABLE sales_final_modified (
  InventoryId VARCHAR(255),
  Store INT,
  Brand INT,
  Description VARCHAR(255),
  Size VARCHAR(255),
  SalesQuantity INT,
  SalesDollars DECIMAL(18,2),
  SalesPrice DECIMAL(18,2),
  SalesDate VARCHAR(255),
  Volume INT,
  Classification INT,
  ExciseTax DECIMAL(18,2),
  VendorNo INT,
  VendorName VARCHAR(255),
  ProductID INT
);


CREATE TABLE invoice_purchases_modified (
  VendorNumber INT,
  VendorName VARCHAR(255),
  InvoiceDate VARCHAR(255),
  PONumber INT,
  PODate VARCHAR(255),
  PayDate VARCHAR(255),
  Quantity INT,
  Dollars DECIMAL(18,2),
  Freight DECIMAL(18,2),
  Approval VARCHAR(255),
  ProductID INT
);

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/big_inventory_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Obtener la longitud máxima de los valores en la columna ProductID
max_length = df['ProductID'].astype(str).str.len().max()

# Imprimir la longitud máxima
print(f"La longitud máxima de los valores en la columna ProductID es: {max_length}")

La longitud máxima de los valores en la columna ProductID es: 6

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/big_inventory_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Función para verificar si un valor es numérico
def is_numeric(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

# Evaluar la columna ProductID para valores no numéricos o caracteres ocultos
non_numeric_values = df[~df['ProductID'].astype(str).apply(is_numeric)]

# Imprimir los valores no numéricos
print("Valores no numéricos o con caracteres ocultos en ProductID:")
print(non_numeric_values)

# Verificar caracteres especiales o espacios en blanco
special_chars_or_spaces = df[df['ProductID'].astype(str).str.contains(r'[^0-9]')]
print("\nValores con caracteres especiales o espacios en blanco en ProductID:")
print(special_chars_or_spaces)

Valores no numéricos o con caracteres ocultos en ProductID:
Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, startDate, ProductID]
Index: []

Valores con caracteres especiales o espacios en blanco en ProductID:
Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, startDate, ProductID]
Index: []

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchase_prices_2017_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# 1. Validar la columna ProductID

# Verificar si hay valores vacíos
empty_values = df['ProductID'].isnull().sum()
print(f"Valores vacíos en ProductID: {empty_values}")

# Verificar si hay valores no numéricos
non_numeric_values = df['ProductID'][~df['ProductID'].apply(lambda x: str(x).isdigit())].count()
print(f"Valores no numéricos en ProductID: {non_numeric_values}")

# Verificar si hay caracteres especiales
special_char_values = df['ProductID'][df['ProductID'].astype(str).str.contains(r'[^\w\s]', na=False)].count()
print(f"Valores con caracteres especiales en ProductID: {special_char_values}")

# 2. Abordar las inconsistencias (ejemplo)

# Si se encuentran valores vacíos, se pueden rellenar con un valor predeterminado o eliminar las filas
if empty_values > 0:
    # df['ProductID'].fillna(-1, inplace=True)  # Rellenar con -1
    df.dropna(subset=['ProductID'], inplace=True)  # Eliminar filas con valores vacíos
    pass #Para que siga funcionando
# Si se encuentran valores no numéricos, se pueden convertir a numéricos o eliminar las filas
if non_numeric_values > 0:
    df['ProductID'] = pd.to_numeric(df['ProductID'], errors='coerce')  # Convertir a numérico
    # df.dropna(subset=['ProductID'], inplace=True)  # Eliminar filas con valores no numéricos
    pass #Para que siga funcionando
# Si se encuentran caracteres especiales, se pueden eliminar o reemplazar
if special_char_values > 0:
    df['ProductID'] = df['ProductID'].astype(str).str.replace(r'[^\w\s]', '', regex=True)  # Eliminar caracteres especiales
    pass #Para que siga funcionando

# 3. Guardar el archivo modificado (opcional)

df.to_csv(file_path, index=False)
print("Archivo modificado guardado.")

Valores vacíos en ProductID: 0
Valores no numéricos en ProductID: 0
Valores con caracteres especiales en ProductID: 0
Archivo modificado guardado.

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchase_prices_2017_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Verificar si hay valores nulos en todo el DataFrame
null_values = df.isnull().sum()

# Imprimir la cantidad de valores nulos por columna
print("Valores nulos por columna:")
print(null_values)

# Verificar si hay algún valor nulo en todo el DataFrame
if df.isnull().values.any():
    print("\nHay valores nulos en el DataFrame.")
else:
    print("\nNo hay valores nulos en el DataFrame.")

Valores nulos por columna:
Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
ProductID         0
dtype: int64

Hay valores nulos en el DataFrame.

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchase_prices_2017_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Eliminar filas con valores nulos en las columnas especificadas
df.dropna(subset=['Description', 'Size', 'Volume'], inplace=True)

# Guardar el DataFrame modificado en el mismo archivo
df.to_csv(file_path, index=False)

print("Valores nulos eliminados en las columnas 'Description', 'Size', y 'Volume'.")
print("Archivo guardado.")

Valores nulos eliminados en las columnas 'Description', 'Size', y 'Volume'.
Archivo guardado.

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchase_prices_2017_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Lista de filas problemáticas
problem_rows = [162, 544, 551, 568, 580, 680, 698, 735, 761, 771, 779]

# Eliminar las filas problemáticas
df.drop(problem_rows, inplace=True)

# Restablecer el índice
df.reset_index(drop=True, inplace=True)

# Guardar el archivo modificado
df.to_csv(file_path, index=False)

print("Filas problemáticas eliminadas.")
print("Archivo guardado.")

Filas problemáticas eliminadas.
Archivo guardado.

In [ ]:
import pandas as pd

# Ruta del archivo CSV
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/purchase_prices_2017_modified.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Lista de filas problemáticas (actualizada)
problem_rows = [162, 543, 549, 565, 576, 675, 692, 728, 753, 762, 769]

# Eliminar las filas problemáticas
df.drop(problem_rows, inplace=True)

# Restablecer el índice
df.reset_index(drop=True, inplace=True)

# Guardar el archivo modificado
df.to_csv(file_path, index=False)

print("Filas problemáticas eliminadas.")
print("Archivo guardado.")

Filas problemáticas eliminadas.
Archivo guardado.

In [ ]:
import pandas as pd

# Ruta del archivo CSV que contiene los datos de Productos
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Eliminar duplicados en la columna ProductID (clave primaria)
df.drop_duplicates(subset=['ProductID'], keep='first', inplace=True)

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv(file_path, index=False)

print("Duplicados en la columna 'ProductID' eliminados.")
print("Archivo guardado.")

Duplicados en la columna 'ProductID' eliminados.
Archivo guardado.

In [ ]:
import pandas as pd

# Paso 1: Leer el archivo CSV
file_path = r'/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv'  # Ruta del archivo CSV
data = pd.read_csv(file_path)

# Paso 2: Identificar duplicados en la clave primaria (ProductID)
if 'ProductID' not in data.columns:
    raise ValueError("La columna 'ProductID' no existe en los datos.")

# Verifica duplicados
duplicados = data[data.duplicated(subset='ProductID', keep=False)]
print(f"Duplicados encontrados:\n{duplicados}")

# Paso 3: Eliminar duplicados dejando la primera ocurrencia
data_cleaned = data.drop_duplicates(subset='ProductID', keep='first')

# Paso 4: Guardar el archivo limpio
cleaned_file_path = r'/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv'
data_cleaned.to_csv(cleaned_file_path, index=False)
print(f"Archivo limpio guardado en: {cleaned_file_path}")

Duplicados encontrados:
Empty DataFrame
Columns: [Description, Brand, Size, ProductID]
Index: []
Archivo limpio guardado en: /content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv

In [ ]:
import pandas as pd

# Ruta del archivo CSV que contiene los datos de Productos
file_path = '/content/drive/MyDrive/Henry - Proyecto Final/DataSet_PF/DataSet_SQL1/Productos.csv'

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Obtener todas las columnas excepto ProductID
columns_to_check = df.columns.difference(['ProductID'])

# Buscar duplicados en las columnas especificadas
duplicates = df[df.duplicated(subset=columns_to_check, keep=False)]

# Imprimir los duplicados (si existen)
if not duplicates.empty:
    print("Se encontraron duplicados:")
    print(duplicates)
else:
    print("No se encontraron duplicados.")

No se encontraron duplicados.